body{
	font-family: sans-serif;
	text-align: center;
	background-color: black;
	color: blanchedalmond;
	font-size: 0.9em;
	margin-bottom: 1em;
}
form {
	margin-top: 0em;
	font-size: 2em;	
}
form.logout {
	margin-top: 0em;
	font-size: 2em;	
}
form#register, form#uploadPhoto {
	font-size: 1.2em;
	border: thin white dashed;
	width: 85%;
	margin: auto;
	margin-top: 0em;
	margin-bottom: 0em;
	padding: 1em;
	padding-top: 0.5em;
}
input[type="text"], input[type="password"], input[type="date"], input[type="number"], input[type="file"], input[type="time"]{
	font-family: monospace;
	font-size: 15px;
	padding: 0.4em;
	width: 15em;
	margin-top: 1.5em;
}
input[type="file"]{
	margin-bottom: 2em;
}
input[type="submit"], input[type="button"]{
	font-family: monospace;
	font-size: 15px;
	font-weight: bolder;
	padding: 0.4em;
	width: 7em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: 1em;
	margin-right: 1em;
}
input[type="submit"].logout, input[type="submit"].login, input[type="submit"].return{
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}
input#input1, input#input2{
	margin: 0.7em;
}
select{
	margin-top: 0.5em;
	margin-left: 1.3em;
	height: 6.4em;
	font-size: 0.7em;
	padding: 0.5em;
}
select option{
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}
label{
	position: relative;
	top: 0.5em;
}
div.mainText{
	width: 95%;
	text-align: center;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 2%;
	font-size: 2em;
}
div.body{
	width: 90%;
	margin: auto;
	border: solid 0.15em white;
	padding: 1em;
}
div#result1{
	font-size: 1.7em;
	font-family: monospace;
}

div#result2{
	font-size: 1.3em;
	font-family: monospace;
}
div#resultBody{
	margin: auto;
	margin-top: 3em;
	width: 60%;
}
div.welcome{
	font-family: monospace;
	font-size: 0.7em;
	width: 85%;
	margin: auto;
	margin-top: 2em;
	border: thin saddlebrown dashed;
	padding: 0.5em;
	padding-left: 3%;
	padding-right:3%;
	margin-bottom: 2em;
}
div.misFormDiv{
	margin-top: 2em;
	margin-bottom: 2em;
}
div.misFormItem{
	width: 85%;
	margin: auto;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	font-size: 0.6em;
}
div.tpsFormItem, div.wsFormItem, div.resourceFormItem{
	width: 85%;
	margin: auto;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	font-size: 0.6em;
}
div.resourceFormItem{
	font-size: 0.65em;
}
div.link{
	width: 90%;
	margin: auto;
	line-height: 1.5;
	margin-top: 2em;
	font-size: 20px;
}
div.wsFormItem{
	margin: 2em;
}
a:link{
	color: green;
}
a:visited{
	color: teal;
}
a:hover{
	color: lime;
}
a:active{
	color: red;
}
img.img2{
	width: 50%;
}
img.img5{
	position: absolute;
	width: 15%;
	right: 6.5%;
	top: 0.5%;
}
img.img6{
	margin-top: 0.1em;
	width: 5%;
	position: relative;
	top: 0em;
	left: -0.7em;
}
img.img7{
	width: 60%;
}
img.img8{
	width: 20%;
	margin: 1em;
}
img.img9{
	height: 10.5em;
	width: 8em;
/* 	border: thin dashed white; */
	margin: auto;
	margin-top: 1em;
}
img.img10{
	height: 95.6px;
	width: 170px;
/* 	border: thin dashed white; */
	margin: auto;
	margin-top: 1em;
}
img#userPhoto{
	margin: 2em;
}
div#addNewPatient p{
	font-size: 2em;
	margin-bottom: 0em;
}
div#resultBody{
	font-size: 0.7em;
}
errors{
	margin-top: 1em;
	margin-bottom: 1em;
}
h1.errors{
	font-family: monospace;
	font-size: 3em;
	color: yellow;
	background-color: red;
	margin-bottom: 1.5em;
	width: 100%;
}
h2.tpsLinkItem, h2.wsLinkItem, h2.resourceLinkItem{
	color: green;
	margin-top: 1em;
	margin-bottom: 1em;
}
h2.tpsInputItem, h2.wsInputItem{
	color: green;
	margin-top: 0em;
	margin-bottom: 0em;
}
div.wsFormItem{
	margin: 3em;
}
h6.registrationForm{
	margin-top: -0.5em;
	font-size: 14px;
}
.errors{
	font-family: monospace;
	color: red;
	background-color: yellow;
	line-height: 1;
	width: 45%;
	margin: auto;
	margin-bottom: 0.5em;
	display: block;
	position: relative;
	top: 1.5em;
	font-size: 15px;
}
hr{
	margin: 1em;
}
p.resource{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 2em;
}
p.misP{
	font-size: 0.6em;
	margin-top: 2em;
	margin-bottom: 0em;
}