body{
	font-family: sans-serif;
	text-align: left;
	background-color: white;
	color: black;
	font-size: 0.4em;
	margin-bottom: 4em;
}
input[type="button"]{
	font-family: monospace;
	font-weight: bolder;
	padding: 0.4em;
	width: 7em;
	margin-top: 0.5em;
	font-size: 15px;
	background-color: black;
	color: white;
}
input[type="button"]:active{
	background-color: darkgrey;
	color: black;
}
input[type="button"]:visited{
	background-color: black;
	color: white;
}
div.welcome{
	font-family: monospace;
	font-size: 2em;
	width: 95%;
	margin: auto;
	margin-top: 2em;
	padding: 0.5em;
	padding-left: 3%;
	padding-right:3%;
	margin-bottom: 2em;
	margin-left: 0.5em;
}
div.body{
	width: 100%;
	margin: auto;
	border: solid 0.15em white;
	padding: 1em;
}
div#img{
	position: static;
	text-align: center;
	line-height: 0.7;
	margin-bottom: 4em;
}
img{
	width: 15em;
}
img.img9{
	height: 106.6px;
	width: 80px;
/* 	border: thin dashed white; */
	margin: auto;
	margin-top: 1em;
}
img#userPhoto{
	margin: 2em;
}
div.printButtonDiv{
	text-align: center;
}
hr{
	margin: 3em;
	margin-left: 0em;
}
