body{
	font-family: sans-serif;
	text-align: left;
	background-color: white;
	color: black;
	font-size: 0.8em;
	margin-bottom: 4em;
}
input[type="button"]{
	font-family: monospace;
	font-weight: bolder;
	padding: 0.4em;
	width: 7em;
	margin-top: 0.5em;
	font-size: 25px;
}
div.welcome{
	font-family: monospace;
	font-size: 2em;
	width: 60%;
	padding: 2em;
	border: black medium solid;
}
div.body{
	width: 100%;
	margin: auto;
	border: solid 0.15em white;
	padding: 1em;
}
div.printButtonDiv{
	text-align: center;
}
div#img{
	position: static;
	text-align: center;
	line-height: 0.7;
	margin-bottom: 4em;
}
img{
	width: 15em;
}
img.img9{
	height: 159.6px;
	width: 120px;
/* 	border: thin dashed white; */
	margin: auto;
	margin-top: 1em;
}
img#userPhoto{
	margin: 2em;
}
hr{
	margin: 3em;
	margin-left: 0em;
}
