body{
	font-family: sans-serif;
	text-align: left;
	background-color: white;
	color: black;
	font-size: 0.4em;
	margin-bottom: 4em;
}
input[type="button"]{
	font-family: monospace;
	font-weight: bolder;
	padding: 0.4em;
	width: 7em;
	margin-top: 0.5em;
	font-size: 15px;
	background-color: black;
	color: white;
}
input[type="button"]:active{
	background-color: darkgrey;
	color: black;
}
input[type="button"]:visited{
	background-color: black;
	color: white;
}
div.welcome{
	font-family: monospace;
	font-size: 2em;
	width: 88%;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 0.5em;
	padding-left: 3%;
	padding-right:3%;
	border: black thin solid;
}
div#img{
	position: static;
	text-align: center;
	line-height: 0.7;
	margin-bottom: 4em;
}
img{
	width: 120px;
}
img.img9{
	margin: 10px;
	height: 100px;
	width: 75px;
/* 	border: black thin solid; */
	padding: 5px;
}
img.img10{
	height: 140px;
	width: 250px;
/* 	border: thin dashed white; */
	margin: auto;
	margin-top: 1em;
}
div.printButtonDiv{
	text-align: center;
}
hr{
	margin: 3em;
	margin-left: 0em;
}
div.printButtonDiv{
	visibility: hidden;
}
